.mainPanel {
  background-color: #1c1c1c;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}
