/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  transition: background 0.2s, color 0.2s;
}

body[data-theme='dark'] {
  background-color: #161616;
  color: #ffffff;
  --main-panel-bg: #1c1c1c;
}

body[data-theme='light'] {
  background-color: #f5f5f5;
  color: #181818;
  --main-panel-bg: #fff;
}
